# Ignorar archivos sensibles o específicos de la máquina
.env
.env.*  # Si tienes múltiples archivos .env
.htaccess

./.env
./env

# Ignorar dependencias instaladas
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

assets/uploads/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/squizlabs
/vendor/phar-io
composer.lock

# Ignorar datos generados por el sistema
writable/*
writable/cache/*
writable/logs/*
writable/session/*
writable/tests/*
writable/uploads/*

# Ignorar archivos de IDE/editor
*.swp  # Archivos temporales de Vim
*.swo
.idea/  # Archivos de configuración de JetBrains IDEs
*.vscode/  # Configuración de Visual Studio Code
.DS_Store  # Archivos del sistema MacOS
Thumbs.db  # Archivos del sistema Windows
