/* Define colores de fondo según el Pantone */
.background-verde {
    background-color: #a4c3b2;  /* Pantone 5585 C */
    background-color: #00FF00;  /* Pantone 5585 C */
    color: black;  /* Asegura buena legibilidad */
    padding: 10px 25px;
    /* border-radius: 5px; */
    min-height: 25px;
    display: inline-block;
    width: 90px;
    height: 30px;
}

.background-amarillo {
    /*background-color: #f5e1a4;   Pantone 1205 C */
    background-color: #FFFF00;  /* Pantone 1205 C */
    color: black;
    padding: 10px 25px;
    /* border-radius: 5px; */
    min-height: 25px;
    display: inline-block;
    width: 90px;
    height: 30px;
}

.background-rojo {
    /* background-color: #dba498;  Pantone 7612 C */
    background-color: #FF0000;  /* Pantone 7612 C */

    color: white;  /* Mejora la legibilidad en fondos oscuros */
    padding: 10px 25px;
    /* border-radius: 5px; */
    min-height: 25px;
    display: inline-block;
    width: 90px;
    height: 30px;
}

.background-violeta {
    /*background-color: #b3a2c9;  Pantone 7671 C */
    background-color: #FF00FF;  /* Pantone 7671 C */

    color: white;
    padding: 10px 25px;
    /* border-radius: 5px; */
    min-height: 25px;
    display: inline-block;
    width: 90px;
    height: 30px;
}

/* Ajustar la altura de las filas en las tablas de Grocery CRUD */
.grocery-crud table tbody tr {
    height: 40px; /* Cambia este valor al tamaño que desees */
}

/* Asegurar que el contenido dentro de las celdas esté alineado verticalmente al centro */
.grocery-crud table tbody td {
    vertical-align: middle;
}